@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

:root {
  --color-azul: #0a66c2;
  --color-amarillo: #c37d16;
  --color-gradiente: linear-gradient(45deg, #0a66c2, #c37d16);
  --color-blanco: #f8f8f8;
  --color-gris-claro: #f0f0f0;
  --sombra: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background: var(--color-gradiente);
  color: var(--color-blanco);
  padding: 1rem;
  text-align: center;
}

header img {
  border-radius: 15px;
  display: block;
  display: block;
  margin: 0 auto;
  width: clamp(430px, 90%, 950px);
  height: auto;
  max-width: 100%;
}

nav {
  margin-top: 1rem;
}

nav a {
  color: var(--color-blanco);
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 4rem 6rem;
}

.bienvenida {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 4rem;
}
.bienvenida h1 {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-family: "Syne", serif;
}

.bienvenida img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: var(--sombra);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}


.galeria article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--color-gris-claro);
  border-radius: 8px;
  box-shadow: var(--sombra);
  padding: 1rem;
  text-align: center;
  transition: transform .3s ease;
}

.galeria article h3 {
  margin: 15px 0;
}

.galeria article:hover{
  transform: scale(1.02);
}

article img {
  width: 100%;
  height: auto;
}

.galeria__links{
  display: flex;
  gap: 1rem; /* Espaciado entre botones */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Alinea verticalmente */
}
.btn-icon {
  background: var(--color-azul);
  border-radius: 4px;
  padding: 0.3rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-icon:hover {
  background: var(--color-amarillo);
}

.btn-icon img{
  width: 28px; /* Tamaño uniforme para los iconos */
  height: 28px; /* Tamaño uniforme para los iconos */
  object-fit: contain; /* Asegura que los iconos mantengan sus proporciones */
  display: block;
}

aside {
  background: var(--color-gris-claro);
  border-radius: 8px;
  box-shadow: var(--sombra);
  padding: 1rem;
  text-align: center;
}

aside a {
  color: var(--color-azul);
  text-decoration: none;
  margin: 0.5rem 0;
  display: inline-block;
}

aside a:hover {
  text-decoration: underline;
}

footer {
  background: var(--color-azul);
  color: var(--color-blanco);
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 992px){
  main {
    grid-template-columns: 1fr;
    
  }
} 
  

@media (max-width: 768px) {
  main {
    padding: 2rem 4rem;
  }
}
