@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-darker-blue: #2b264a;
  --color-dark-blue: #4f4973;
  --color-main-blue: #675ff0;

  --gradient-blue-1: #469fef;
  --gradient-blue-2: #5c75f0;
  --gradient-blue-3: #6c56f0;

  --color-blue: #3629b7;
  --color-red: #ff4267;
  --color-orange: #fb6b18;
  --color-yellow: #ffd794;
  --color-green: #52d5ba;

  --color-white: #ffffff;
  --color-dark-white: #fffdff;

  --color-light-gray-2: #ececec;
  --color-light-gray: #cbcbcb;
  --color-dark-gray: #898989;

  --color-dark: #343434;

  --round-large: 4rem;
  --round-medium: 2rem;
  --round-small: 1.5rem;

  --paragraph-xlarge: 2rem;
  --paragraph-large: 1.6rem;
  --paragraph-small: 1.4rem;

  --gap-large: 4.5rem;
  --gap-medium: 3rem;
  --gap-small: 1.5rem;
  --gap-tiny: 0.5rem;

  --padding-large: 4rem;
  --padding-medium: 2rem;
  --padding-small: 1rem;

  --margin-bottom-large: 4rem;
  --margin-bottom-medium: 2rem;
  --margin-bottom-tiny: 0.5rem;
}
/* ----------------------------------- */
/* --------- MOBILE FIRST ------------ */
/* ----------------------------------- */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--color-darker-blue),
    var(--color-dark-blue)
  );
  height: 100dvh;
  padding: var(--padding-medium) 0;
  line-height: 1.2;
  color: var(--color-dark);
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
#app {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-white);
  border-radius: var(--round-large);
  overflow-y: auto;
}

.section {
  width: 45rem;
  min-height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  gap: var(--gap-large);
  padding: var(--padding-medium);
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.user__avatar {
  border-radius: 1000px;
  overflow: hidden;
}

/* INFO PAGE */

.list-users {
  display: flex;
  justify-content: space-around;
}
/* LOGIN PAGE */

#btn-signup {
  cursor: pointer;
}

/* HOME PAGE */

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  align-items: center;
  margin: auto;
}

.credit-card-box,
.transfer__receptor-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  align-items: center;
}

.home__features {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}

.home__features-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  align-items: center;
  padding: var(--padding-medium);
  border-radius: var(--round-medium);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

/* USER */

.user__avatar--userpage {
  width: 7.5rem;
  height: 7.5rem;
}

.user__data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-medium);
}

/* TRANSFER */

.transfer__receptor,
.transfer__amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-tiny);
}

.user__avatar--transferpage {
  width: 6rem;
  height: 6rem;
}

/* TRANSACTIONS */

.transaction__title-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.transaction__title-box a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-orange);
}

.transaction__totals {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.transaction__income-box,
.transaction__outcome-box {
  display: flex;
  gap: var(--gap-small);
}

/* LOAN */

.loan__amount-selector {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  align-items: center;
}

.loan-form .btn-box {
  flex-direction: row;
}

#btn-calculate-loan,
#btn-apply-loan {
  width: 100%;
}

.loan__btn-box {
  display: flex;
  justify-content: space-around;
}

.loan__symbol,
.loan__amount {
  font-size: 2.8rem;
  font-weight: 600;
}

/* UTILITIES */

.u-width-100 {
  width: 100%;
}

.u-text-bold {
  font-weight: 600;
}
.u-primary-title {
  font-size: 2.8rem;
}

.u-secondary-title {
  font-size: 2.6rem;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-paragraph-xlarge {
  font-size: var(--paragraph-xlarge);
}

.u-paragraph-large {
  font-size: var(--paragraph-large);
}

.u-paragraph-small {
  font-size: var(--paragraph-small);
}

.u-mb-large {
  margin-bottom: var(--margin-bottom-large);
}

.u-mb-medium {
  margin-bottom: var(--margin-bottom-medium);
}

.u-mb-tiny {
  margin-bottom: var(--margin-bottom-tiny);
}

.u-gap-large {
  gap: var(--gap-large);
}

.u-gap-medium {
  gap: var(--gap-medium);
}

.u-gap-small {
  gap: var(--gap-small);
}

.u-blue-font {
  color: var(--color-main-blue);
}
.u-white-font {
  color: var(--color-white);
}
.u-gray-font {
  color: var(--color-dark-gray);
}
.u-expense-font {
  color: var(--color-red);
}
.u-income-font {
  color: var(--color-blue);
}

.u-white-box {
  padding: var(--padding-medium);
  background-color: var(--color-white);
  border-radius: var(--round-medium);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
}

/* ----------------------------------- */
/* --------- MEDIA QUERIES ----------- */
/* ----------------------------------- */

@media (min-width: 480px) {
  html {
    font-size: 62.5%;
  }

  body {
    padding: var(--padding-large) 0;
  }
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    gap: 0;
    align-items: flex-end;
  }

  .section {
    width: 85rem;
    min-height: 50rem;
  }

  .section.login-page,
  .section.info-page,
  .section.signup-page {
    width: 45rem;
  }

  .home__features {
    align-content: flex-end;
  }

  .credit-card-box {
    gap: var(--gap-large);
    align-items: flex-start;
  }

  .user__main .user__data-form {
    width: 58%;
  }

  .user__data-details {
    justify-content: space-between;
  }

  .main.signup__main,
  .main.alert__main,
  .main.transaction__main,
  .main.loan__main {
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
  }

  .transfer__receptor-box,
  .login-form {
    flex: 1;
  }

  .transfer__receptor {
    padding: 17% 0;
  }
  .user__avatar--transferpage {
    width: 9rem;
    height: 9rem;
  }

  .loan__details {
    display: flex;
    gap: var(--gap-large);
  }

  .loan__details .loan__summary {
    width: 100%;
  }

  .main.loan__main {
    align-items: start;
  }

  .main.loan__main .loan__btn-box {
    width: 70%;
  }

  .loan__range {
    width: 50%;
  }
}
