.nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6rem;
  padding: 6rem 3rem;
}
.nav__form-box {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.logo {
  font-size: 5rem;
  font-weight: 200;
}

.logo > span:first-child {
  color: var(--red-c);
}

.search-container {
  background-color: var(--white-c);
  width: 100%;
  display: flex;
  border-radius: var(--rounded-1);
  overflow: hidden;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 10px var(--gray-light-c);
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  background-color: transparent;
  color: var(--black-c);
  font-family: inherit;
}

.search-input::placeholder {
  color: var(--gray-light-c);
  opacity: 1;
}

#filterBtn {
  background-color: var(--red-c);
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0 0 0 3rem;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 3rem;
  }
}
