.home {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.home_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.primary-title > span:first-child {
  color: var(--red-c);
}
