.home {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.home__title {
  font-size: 4.5rem;
}

.home_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.primary-title > span:first-child {
  color: var(--red-c);
}

@media only screen and (max-width: 480px) {
  .home__title {
    font-size: 3.5rem;
  }
}
